@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=League+Spartan:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Koulen&family=League+Spartan:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
p {
  @apply text-emerald-900;
}

#header {
  font-family: "League Spartan";
  font-weight: normal;
}

#about {
  background: url('assets/Leaf bg.png'), url('assets/scire round.png');
  background-size: 28%, contain;
  background-position: 50% 50%, center;
  background-repeat: repeat, no-repeat;
}

#about-container {
  background-color: #DA9B2A
}

/* Header Page */
@media only screen and (min-width: 300px) {
  /* Mobile */
  #landing-page, #quiz-page, #email-input, #results {
    background-image: url('assets/orange flower mobile.png'), url('assets/scire logo.png'), url('assets/purple flower mobile.png');
    background-position: 100% 100%, 50% 5%, 0% 15%;
    background-size: 50%, 60%, 20%;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

@media only screen and (min-width: 700px) {
  /* Tablet */
  #landing-page {
    background-image: url('assets/orange flower rotate_18.png'), url('assets/smilemodel.png'), url('assets/scire logo.png'), url('assets/purple flower rotate_15.png');
    background-position: 0% 100%, 100% 100%, 5% 2%, 100% 0%;
    background-size: 30%, 30%, 25%, 25%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
  #quiz-page, #email-input, #results {
    background-image: url('assets/orange flower rotate_18.png'), url('assets/scire logo.png'), url('assets/purple flower rotate_15.png');
    background-position: 0% 100%, 5% 2%, 100% 0%;
    background-size: 30%, 25%, 25%;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

@media only screen and (min-width: 1000px) {
  /* Laptop */
  #landing-page {
    background-image: url('assets/orange flower rotate_18.png'), url('assets/smilemodel.png'), url('assets/scire logo.png'), url('assets/purple flower rotate_15.png');
    background-position: 0% 100%, 100% 100%, 5% 2%, 100% 0%;
    background-size: 25%, 25%, 19%, 19%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
  #quiz-page, #email-input, #results {
    background-image: url('assets/orange flower rotate_18.png'), url('assets/scire logo.png'), url('assets/purple flower rotate_15.png');
    background-position: 0% 100%, 5% 2%, 100% 0%;
    background-size: 25%, 19%, 19%;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

@media only screen and (min-width: 1500px) {
  /* Monitors */
  #landing-page {
    background-image: url('assets/orange flower rotate_18.png'), url('assets/smilemodel.png'), url('assets/scire logo.png'), url('assets/purple flower rotate_15.png');
    background-position: 0% 100%, 100% 100%, 5% 2%, 100% 0%;
    background-size: 15%, 15%, 13%, 13%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
  #quiz-page, #email-input, #results {
    background-image: url('assets/orange flower rotate_18.png'), url('assets/scire logo.png'), url('assets/purple flower rotate_15.png');
    background-position: 0% 100%, 5% 2%, 100% 0%;
    background-size: 15%, 13%, 13%;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}